@{
    ViewData["Title"] = "Sobre";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>Desenvolvido por: @ViewData["Autor"]</p>

<address>
    Israel Andrelino Curvelo<br />

</address>

<address>
    <strong>Email:</strong> <a href="mailto:Support@example.com">raellcurvelo@gmail.com</a><br />

</address>
