@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>Desenvolvido por: @ViewData["Autor"]</p>

<address>
    <strong>Mais informações: </strong> <a href="http://www.google.com.br" >israelcurvelo.com.br</a>
</address>
