
@model VendasMVCWeb.Models.RegistroDeVendas
@{
    ViewData["Title"] = "Tela Inicial";
}

<h2>@ViewData["Title"]</h2>
<h4>Registrar Venda</h4>
<hr />
<div class="row">
    <div class=" col-md-4">
        <form asp-action="Index">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class=" form-group">
                <label asp-for="Vendedor" class="control-label"></label>
                <input asp-for="Vendedor" class="form-control" />
                <span asp-validation-for="Vendedor" class="text-danger"></span>
            </div>
            <div class=" form-group">
                <label asp-for="Data" class="control-label"></label>
                <input asp-for="Data" class="form-control" />
                <span asp-validation-for="Data" class="text-danger"></span>
            </div>


            <div class=" form-group">
                <label asp-for="ValorTotal" class="control-label"></label>
                <input asp-for="ValorTotal" class="form-control" />
                <span asp-validation-for="ValorTotal" class="text-danger"></span>
            </div>

            <div class=" form-group">
                <label asp-for="Status" class="control-label"></label>
                <input asp-for="Status" class="form-control" />
                <span asp-validation-for="Status" class="text-danger"></span>
            </div>





            <div class=" form-group">

                <input type="submit" value="Cadastrar" class=" btn btn-success" />
            </div>

        </form>

    </div>
</div>


@section Scripts{
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}



 