@model VendasMVCWeb.Models.ViewModels.VendedoresViewModels
@{
    ViewData["Title"] = "Cadastrar Novo";
}

<h2>@ViewData["Title"]</h2>

<h4>Vendedor</h4>
<hr />
<div class="row">
    <div class=" col-md-4">
        <form asp-action="Create">
            <div class=" form-group">
                <label asp-for="Vendedor.Nome" class="control-label"></label>
                <input asp-for="Vendedor.Nome" class="form-control" />
            </div>

            <div class=" form-group">
                <label asp-for="Vendedor.Email" class="control-label"></label>
                <input asp-for="Vendedor.Email" class="form-control" />
            </div>

            <div class=" form-group">
                <label asp-for="Vendedor.DataNascimento" class="control-label"></label>
                <input asp-for="Vendedor.DataNascimento" class="form-control" />
            </div>

            <div class=" form-group">
                <label asp-for="Vendedor.SalarioBase" class="control-label"></label>
                <input asp-for="Vendedor.SalarioBase" class="form-control" />
            </div>

         


            <div class=" form-group">

                <input type="submit" value="Cadastrar" class=" btn btn-success" />
            </div>

        </form>

    </div>
</div>


